@media (max-width: 767px) {
    body{
        .container{

            .calc{
                width: 93vw;
                height: 95vh;
                .calc_input{
                    button{
                        color: red;
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }

    }
  }